table, th, td {
    border: 1px solid black;
}

td {
    height: 20px;
    width: 20px;
    max-width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#container {
    width: 100%;
    position: fixed;
}

#grid {
    position: absolute;
    left: 0;
}

#sidebar {
    margin-right: 5px;
    padding: 5px;
    position: absolute;
    right: 0;
    background: rgba(200, 54, 54, 0.5);
}