{{define "index"}}
<html>
<head>
    <link rel="stylesheet" href="static/style.css"/>
    <script src="static/scripts/randomColor.js" type="text/javascript"></script>

    <script src="static/scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>
<body>
<div id="container">

    <div id="grid"></div>
    <div id="sidebar">
        <h1 id="datasetHeading">No Dataset Selected</h1>
        <div id="selection">
            <h2>Selected Cell</h2>
            <ul>
            {{ range $name, $value := .selectedCellData }}
                <li><strong>{{ $name }}:</strong> {{ $value }}</li>
            {{ end }}
            </ul>
        </div>
        <div id="controls">
            <button onclick="prevTick()"><- Prev Tick</button>
            <button onclick="togglePause()">||</button>
            <button onclick="nextTick()">Next Tick -></button>
        </div>
        <ul id="datasets">
        {{ range $dsName, $tickCount := .datasets }}
            <li><a href="javascript:loadDataSet({{ $dsName }}, {{ $tickCount }})">{{ $dsName }}</a></li>
        {{ end }}
        </ul>
    </div>
</div>
</body>
<script src="static/scripts/grid.js" type="text/javascript"></script>
<script src="static/scripts/input.js" type="text/javascript"></script>
<script src="static/scripts/main.js" type="text/javascript"></script>

</html>
{{end}}
